<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWFullScreenPanBackDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A0D20E11E63BD1500C161AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A0D20FA1E63BD1500C161AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A0D21051E63BD1500C161AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
